<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ProTrack{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='friends.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='mySubjectsPage.css') }}">
  
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile-pic"></div>
    <div class="friend-icon"></div>
    <div class="friend-icon"></div>
    <div class="friend-icon"></div>
    <div class="friend-icon"></div>
    <div class="friend-icon"></div>
  </div>

  <!-- Main Content Area -->
  <div class="main-content">

    <!-- Top Navigation -->
    <div class="top-nav">
      <div>Welcome back, {{ current_user.username }}!</div>
      <div class="top-buttons">
        <a href= "{{ url_for('friends') }}" class="friends-btn">My Friends</a>
        <a href= "{{ url_for('subjects') }}" class="subjects-btn">My Subjects</a>
        <a href="{{ url_for('logout') }}" class="logout-btn">Log Out</a>
      </div>
    </div>

    <!-- Dynamic Page Content -->
    {% block body %}{% endblock %}
  </div>

</body>
</html>
